<h2>Представьтесь пожалуйста</h2>

<form action="/admin" method="POST">
  {{!-- <input type="text" placeholder="Login"> --}}
  <input type="text" placeholder="Имя фамилия" name="name">
  <br>
  <br>

  <input type="text" placeholder="Номер телефона" name="phone">
  <br>
  <br>

  <input type="submit" value="Войти">
</form>
