
<h2>{{eventNow.name}}</h2>
<p>{{eventNow.description}}</p>

<form action="/delete/id" method="get">
<button type="submit" > Удалить </button>

</form>

<form action="/admin/showStats" method="get">
<button type="submit"> Статистика </button>
</form>
