<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

      <script src="/index.js" defer></script>
  
</head>

<body>
  <div class="container">
  <header role="banner" class="mar-t-5 pad-t-2 pad-b-4 pad-s-1 wrap-float bg-white">
    <div class="max-w-700 center wrap-float">

           <div class="logo-container">
              <div class="centerImage"><img class = "imageLogo"  height="400px" width="700px" src="/images/logo1.jpg" ></div>
        
         </div>
    </div>
  </header>
  <div class="bg-dk-green pad-t-2 pad-s-1 pad-b-8 mar-b-16 c-white">
    <div class="max-w-700 center">
      {{{body}}}
    </div>
  </div>
  </div>
</body>

</html>
