
{{#each arr }}
<div class="date">
  День {{date}}
</div>
<div class="time">
  Время {{time}}
</div>
<div class="count">
  Проголосовало {{count}}
</div>
<div class="scale" style="width:{{widthScale}}px;">
</div>
{{/each}}

